@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.varela-regular {
  font-family: "Varela", serif;
  font-weight: 400;
  font-style: normal;
}
/* Estilo para el subrayado animado */
.link-hover-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.4s ease, left 0.4s ease;
}

.link-hover-underline:hover::after {
  width: 100%;
  left: 0;
}
